.h1 {
    text-align: center;
    margin: 30px auto;
    color: blue;
}
.content {
    margin: 50px auto;
    width: 80%;
}
#inner-content {
    text-align: center;
}
.form-create {
    width: 50%;
    margin: auto;
}
.profile {
    width: 700px;
    margin: 50px auto;
}
.image {
    width: 250px;
    height: 250px;
    margin-left: 7px;
}
#back {
    margin-left: 100px;
}
.tbody {
    text-align: center;
}